@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900& display=swap');
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Poppins','sans-serif';
}
:root {
    --bg-color: #1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;

}
html{
    font-size: 62.5%;
    overflow-x:hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky{
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
}
span{
    color: var(--main-color);
    text-align: center;
}


.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 2rem;
    box-shadow: none;
    font-size: 1.7rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight:600;
    transition: 0.5s ease;
    margin: 2rem 1.5rem 2rem 0;
}


.btn:hover{
    box-shadow: 0 0 3rem var(--main-color);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-image img{
    width: 500px;
    
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    text-align: left;
    font-size: 1.7rem;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: warp;
    padding: 2rem 9%;
    background: var(--bg-color);
}
.footer-text p {
    font-size: 1.6rem;

}
.footer-icontop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
}
.footer-icontop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
    transition: 0.5s ease;
}
.footer-icontop a i:hover {
    transform: translateY(-0.2rem) scale(1.4);
box-shadow: 0 0 5rem var(--main-color);
}

/*breackpoints */
@media (max-width : 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width:768px){
    #menu-icon{
        display: block;
    }

    .about {
        flex-direction: column-reverse;

    }


@media (max-width:617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}

    .heading {
text-align: center;
}

.heading a {
display: inline-block;
margin-top: 1rem;
text-decoration: none;
color: var(--main-color);
font-weight: 700;
}

@media (max-width: 450px){
    html {
    font-size: 50%;
        
    }
    .contact form .input-box input {
        width: 100%;
    }
}

}
@media (max-width:365px){

    .about-image img{
        width: 30px;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
/* ... (previous CSS code) ... */

.edu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
  }
  
  .edu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    padding: 5rem 9%;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    max-width: 1500px;
    margin-bottom: 5rem;
    margin-top: 5rem;
    transition: 0.5s ease;

    
  }
.edu-content:hover{
    box-shadow: 0 0 3rem var(--main-color);
  }
  
  .edu-content h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 0.5rem;

  }
  
  .edu-content h3 span {
    font-weight: 400;
    color: var(--main-color);
  }

  
  .edu-content .edu-image img {
    width: 200px;
    border-radius: 20%;
    box-shadow: 0 0 5rem var(--main-color);

  }

  
  /* Additional styles for responsive design */
  @media (max-width: 1200px) {
    .edu-content {
      padding: 4rem 6%;
    }
  }
  
  @media (max-width: 991px) {
    .edu-content {
      flex-direction: column;
      gap: 3rem;
      text-align: center;
    }
    .edu-content .edu-image img {
      width: 150px;
    }
  }
  
  @media (max-width: 768px) {
    .edu-content {
      padding: 4rem 4%;
    }
  }
  .edu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
  }
  
  .edu1-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    background: var(--second-bg-color);
    padding: 5rem 9%;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    max-width: 1500px;
margin-bottom: 5rem;
    transition: 0.5s ease;

    
  }
  .edu1 .edu1-content:hover{
    box-shadow: 0 0 3rem var(--main-color);
  }
  
  .edu1-content h3 {
    font-size: 2.9rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }
  
  .edu1-content h3 span {
    font-weight: 600;
    color: var(--main-color);
  }

  
  .edu1-content .edu1-image img {
    width: 200px;
    border-radius: 100%;
    box-shadow: 0 0 5rem var(--main-color);

  }

  
  /* Additional styles for responsive design */
  @media (max-width: 1200px) {
    .edu1-content {
      padding: 4rem 6%;
    }
  }
  
  @media (max-width: 991px) {
    .edu1-content {
      flex-direction: column;
      gap: 3rem;
      text-align: center;
    }
    .edu1-content .edu1-image img {
      width: 150px;
    }
  }
  
  @media (max-width: 768px) {
    .edu1-content {
      padding: 4rem 4%;
    }
  }
  .lang {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--second-bg-color);
    padding: 2rem 9% 2rem; /* Adjust the padding as needed */
  }
  
  .lang-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 2000px; /* Adjust the max-width as needed */
    margin-top: 1rem; /* Add margin to separate from the heading */
  }
  
  .lang h3 {
    font-size: 2.6rem;
    text-align: left;
    color: var(--text-color); /* Set the color to match the global text color */
    font-weight: 500; /* Adjust the font weight as needed */
  }
  .lang-content  {
    text-align: left;
    font-size: 1.7rem;
    flex-direction: column;
    gap: 2rem;
}
.lang-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
.lang-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
  
  /* Additional styles for responsive design */
  @media (max-width: 768px) {
    .lang {
      padding: 8rem 4% 2rem; /* Adjust the padding for smaller screens */
    }
  
    .lang-content {
      flex-direction: column;
      gap: 2rem;
    }
  }
  hr {
    color: #fff;
    width: 20px;
  }
  .about-image img {
    width: 500px; /* Default width */
}

@media (max-width: 1200px) {
    .about-image img {
        width: 400px; /* Adjust the width for screens up to 1200px */
    }
}

@media (max-width: 991px) {
    .about-image img {
        width: 300px; /* Adjust the width for screens up to 991px */
    }
}

@media (max-width: 768px) {
    .about-image img {
        width: 70vw; /* Adjust the width to 70% of the viewport width for screens up to 768px */
        margin-top: 4rem;
    }
}

@media (max-width: 617px) {
    .about-image img {
        width: 90vw; /* Adjust the width to 90% of the viewport width for screens up to 617px */
        margin-top: 2rem;
    }
}

@media (max-width: 450px) {
    .about-image img {
        width: 80vw; /* Adjust the width to 80% of the viewport width for screens up to 450px */
    }
}

@media (max-width: 365px) {
    .about-image img {
        width: 30px; /* Adjust the width for screens up to 365px */
    }
}
.lang-content hr {
  width: 50px;
  height: 3px;
  background-color: rgb(255, 255, 255); /* Adjust the color as needed */
  border: none;
  margin: 5rem auto;

}



  
